# Usage of DT Classifier
On IRIS Dataset.

In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np

In [4]:
def create_data(N, M):
    temp = np.random.random((N, M)) >= 0.5
    return pd.DataFrame(temp)

In [6]:
N = 100
M = 100
data = create_data(N, M)
data.head(6)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,False,True,True,False,True,True,True,True,False,False,...,False,True,False,True,True,True,False,True,True,False
1,False,True,True,False,True,True,True,False,False,True,...,True,False,False,True,True,True,True,False,True,False
2,False,False,False,True,True,True,False,True,True,True,...,True,True,True,False,False,True,False,False,True,True
3,True,False,False,False,True,True,True,True,True,True,...,False,True,True,False,True,False,True,True,True,False
4,False,True,False,False,False,False,True,False,True,False,...,True,False,False,True,True,False,True,True,True,True
5,True,False,True,True,True,False,True,False,True,False,...,False,True,False,True,False,True,False,False,False,False

In [5]:
data.isnull().any() # any null value?

0    False
1    False
2    False
3    False
4    False
dtype: bool

Splitting into train test data

In [6]:
from sklearn.model_selection import train_test_split
Rows_train, Rows_test = train_test_split(data, test_size=.3)

In [7]:
data.head(2)

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa

In [8]:
Rows_test.head(2)

      0    1    2    3                4
27  5.2  3.5  1.5  0.2      Iris-setosa
79  5.7  2.6  3.5  1.0  Iris-versicolor

In [9]:
Rows_train.head(2)

       0    1    2    3                4
96   5.7  2.9  4.2  1.3  Iris-versicolor
100  6.3  3.3  6.0  2.5   Iris-virginica

In [10]:
from dt import DecisionTreeClassifier
mydt = DecisionTreeClassifier(method='gini', max_depth=5)
mydt.train(Rows_train)

In [59]:
import sklearn.tree
skdt = sklearn.tree.DecisionTreeClassifier(criterion='entropy', max_depth=6)
skdt.fit(Rows_train.iloc[:, :-1], Rows_train.iloc[:, -1])

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=6,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [60]:
my_preds = np.squeeze(mydt.predict(Rows_test.iloc[:, :-1]).values)
sk_preds = skdt.predict(Rows_test.iloc[:, :-1])

In [61]:
true = Rows_test.iloc[:, -1].values
my_acc = ((true == my_preds).sum())/Rows_test.shape[0]
sk_acc = ((true == sk_preds).sum())/Rows_test.shape[0]
print ("my_acc:", my_acc) 
print ("sk_acc:", sk_acc)

my_acc: 0.9555555555555556
sk_acc: 0.9777777777777777

In [25]:
Rows_test.head(15)

       0    1    2    3                4
27   5.2  3.5  1.5  0.2      Iris-setosa
79   5.7  2.6  3.5  1.0  Iris-versicolor
114  5.8  2.8  5.1  2.4   Iris-virginica
57   4.9  2.4  3.3  1.0  Iris-versicolor
23   5.1  3.3  1.7  0.5      Iris-setosa
113  5.7  2.5  5.0  2.0   Iris-virginica
88   5.6  3.0  4.1  1.3  Iris-versicolor
94   5.6  2.7  4.2  1.3  Iris-versicolor
136  6.3  3.4  5.6  2.4   Iris-virginica
45   4.8  3.0  1.4  0.3      Iris-setosa
53   5.5  2.3  4.0  1.3  Iris-versicolor
13   4.3  3.0  1.1  0.1      Iris-setosa
50   7.0  3.2  4.7  1.4  Iris-versicolor
26   5.0  3.4  1.6  0.4      Iris-setosa
78   6.0  2.9  4.5  1.5  Iris-versicolor

In [26]:
import utils
utils.parser(mydt.root)

Question: Is 3th Column >= 1.0
  T: Question: Is 3th Column >= 1.8
    T: Predict: Iris-virginica
    F: Question: Is 2th Column >= 5.0
      T: Question: Is 3th Column >= 1.6
        T: Question: Is 0th Column >= 7.2
          T: Predict: Iris-virginica
          F: Predict: Iris-versicolor
        F: Predict: Iris-virginica
      F: Question: Is 0th Column >= 5.0
        T: Predict: Iris-versicolor
        F: Predict: Iris-virginica
  F: Predict: Iris-setosa

In [16]:
my_preds

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa', 'Iris-setosa', 'Iris-virginica', 'Iris-virginica',
       'Iris-setosa', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-setosa'], dtype=object)